#team_member{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 180px;
}

mat-form-field{
    width: 90%;
    margin-top: 10%;
}

button{
    margin-top: 10%;
    width: 50%;
}