<div>
    <img style="width: 7%;height: 7%;margin-top: 4%;margin-left: 4%;" src="../assets/backlog.png"/>
</div>
<div style="display: flex;margin-top: -10%;">
<div id="CONTENT">
    <p>KANBAN BOARD </p>
    <p style="margin-top: 7%;">MANAGEMENT</p>
    <p style="font-size: 18px;margin-top: 7%;color: rgb(84, 82, 82);">Collaborate, manage projects, and reach new productivity peaks.<br>
        From high rises to the home office, the way yourteam works<br>
        is unique—accomplish it all with My Kanban Board. </p>
</div>

<div>
    <img src="../assets/2350.jpg">
</div>
</div>

<div id="button">
    <button style="color: black;font-size: 20px;" mat-button routerLink="/login">Log In</button>
</div>

<div id="column">
    <h2 class="heading">
        About Us
        <hr style="width: 2%;color:rgb(221, 146, 9)">
    </h2>
    <div style="display: flex;">

        <div>
            <div>
                <img alt="about_image"
                    src="https://res.cloudinary.com/dduwkdctl/image/upload/v1674190490/Kanban%20Project/aboutus_erfv71.jpg"
                    style="width: 90%;height: auto;">
            </div>
        </div>
        <div class="about_content">
            <div>
                <p>
                    The Kanban board section of our website is designed to provide users with a simple and intuitive way
                    to
                    manage and track their work tasks, projects, or processes. The section is divided into several key
                    areas,
                    including:</p>
                <ul>
                    <li> <b>The Kanban Board:</b> This is the main feature of the section and is where users can create
                        and manage their
                        tasks. The board displays tasks in columns, with each column representing a different stage of
                        the workflow.
                        Users can create new tasks, move tasks between columns, and set task priorities.
                    </li>
                    <li> <b>Task Management:</b> Users can view, edit, and delete tasks from this area. They can also
                        assign tasks to team
                        members, set due dates, and add comments.
                    </li>
                    <li><b>Reports:</b> Users can generate reports on the progress of their tasks and projects. Reports
                        can be exported in
                        different formats, such as PDF or CSV.
                    </li>
                    <li><b>User Management:</b> Users can invite team members to collaborate on their tasks and
                        projects, as well as manage
                        their permissions.
                    </li>
                    <li><b>Settings:</b> Users can customize the board to their specific needs. They can change column
                        names, add new
                        columns, and change the board's layout.
                    </li>
                </ul>
                <p>
                    Overall, the Kanban board section of our website is an easy-to-use, flexible, and powerful tool for
                    managing
                    and tracking tasks, projects, and processes. It is designed to help users stay organized, on track,
                    and in
                    control of their work. </p>
            </div>
        </div>
    </div>
</div>

<div>
    <app-fotter></app-fotter>
  </div>