<div class="main-footer">
    <div class="footer_upper">
      <div class="footer_logo">
        <img alt="header logo"
             src="https://res.cloudinary.com/dduwkdctl/image/upload/v1673022626/Kanban%20Project/planning_avbnab.png" style="height: auto;width: 40%;"/>
      </div>
      <div class="footer_about">
        <p>
          My Kanban Board brings all your tasks, teammates, and tools together in one place.<br>
          <br>
          Collaborate, manage projects, and reach new productivity peaks. From high rises to the home office, the way your
          team works is unique—accomplish it all with My Kanban Board.
          <br>
          Keep everything in the same place—even if your team isn’t together.
        </p>
      </div>
    </div>
  
    <div class="footer_lower">
      &copy; Copyright 2023. Made in India with ❤️ by <br>
      <a href="" rel="noreferrer" target="_blank">Kavin Kumar</a>
      <a href="" rel="noreferrer" target="_blank">Arpit Shrivastava</a>
      <a href="" rel="noreferrer" target="_blank">Sai Charan</a>
    </div>
</div>